* {
  font-family: "Avenir Next Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.popup {
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0px 0px 10px 0px;
}
.contentBox {
  position: relative;
  width: 1380px;
  height: 150px;
  background: #fff;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.pheading > p {
  margin-top: 10%;
  margin-left: 7%;
  font-size: 13px;
}
.emailContent > .email {
  margin-top: 14%;
  margin-left: 110%;
  height: 40px;
  width: 300px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #fff
    url(https://png.pngitem.com/pimgs/s/214-2148729_tab-close-svg-png-icon-free-download-mute.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

/* Navigation CSS */

.firstBar {
  height: 20px;
  width: 95%;
  display: flex;
  gap: 20px;
  font-size: 11px;

  justify-content: right;
  align-items: center;
}
.firstBar > p > a,
.uline {
  text-decoration: none;
  color: black;
}
.uline:hover {
  text-decoration: underline;
}

u {
  cursor: pointer;
}
u:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .firstBar {
    width: 700px;
    height: auto;
    line-height: 5px;
  }
}

/* Navbar second part */
.leftBox {
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondBox {
  width: 25%;
  height: 80px;
  /* margin: auto; */
  float: right;
  margin-right: 80px;
  margin-top: 30px;
}

.secondBox > p {
  display: flex;
  font-size: 13px;
  justify-content: right;
  align-items: center;
  margin-top: 8%;
  gap: 10px;
}
.secondBox > p > input {
  height: 30px;
  width: 120px;
  font-size: 10px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* .nav_links li {
  justify-content: space-between;
} */
.heading {
  height: 35px;
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  background-color: #f5d34d;
}
.heading > p {
  color: #4b5a6b;
}
.heading > p > a {
  color: #4b5a6b;
}
.heading > p > strong {
  font-weight: bolder;
}
.first_img {
  width: 100%;
  height: 640px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P1_12112021.jpg?w=1499&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.first_img > .btn1 {
  margin-top: 30%;
  margin-left: 40%;
  display: flex;
  flex-direction: column;
}
.first_img > .btn1 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.sec_img {
  width: 100%;
  height: 640px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P2_2910202_new.jpg?w=1519&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.sec_img > .btn2 {
  margin-top: 22%;
  margin-left: 40%;
  display: flex;
  flex-direction: column;
}
.sec_img > .btn2 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.third_img {
  width: 100%;
  height: 820px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P3_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.third_img > .btn3 {
  margin-top: 8%;
  margin-left: 31%;
  display: flex;
  flex-direction: row;
}
.third_img > .btn3 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.forth_img {
  width: 100%;
  height: 250px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P4_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.forth_img > .btn4 {
  margin-top: 9%;
  margin-left: 31%;
  display: flex;
  flex-direction: row;
}
.forth_img > .btn4 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.fifth_img {
  width: 100%;
  height: 570px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P5_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.fifth_img > .btn5 {
  margin-top: 28%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.fifth_img > .btn5 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 0.5%;
  cursor: pointer;
}
.ff_img {
  width: 100%;
  height: 550px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P6_29102021.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.ff_img > .btn11 {
  margin-top: 28%;
  margin-left: 77%;
  display: flex;
  flex-direction: column;
}
.ff_img > .btn11 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 2%;
  cursor: pointer;
}
.six_img {
  width: 100%;
  height: 550px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P7_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}
.six_img > .btn22 {
  margin-top: 31%;
  margin-left: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.six_img > .btn22 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 2%;
  margin-bottom: 70%;
  cursor: pointer;
}
.heading_prod {
  height: 35px;
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.prodSlide {
  width: 100%;
  height: 360px;
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.imageDiv {
  width: 15.5%;
  height: 300px;
  /* border: 1px solid teal; */
  margin-left: 1%;
}

.imgBox {
  width: 100%;
  height: 250px;
  /* border: 1px solid yellow; */
}

.textBox {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
}
.textBox > p {
  /* border: 1px solid black; */
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.t_box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 3%;
}
.image {
  width: 100%;
  height: 250px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
.footer > div {
  border: 1px solid black;
  width: 500px;
  text-align: center;
  height: fit-content;
  padding: 20px 60px;
}
#link {
  color: black;
}
#link:hover {
  text-decoration: underline;
}
span {
  font-weight: bold;
}
.lowerbox {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 6%;
}
.lowerbox > div {
  margin-left: 3%;
  margin-right: 120px;
  line-height: 30px;
}
li {
  list-style: none;
  font-size: 12px;
}
a {
  color: black;
  text-decoration: none;
}
.lowerbox a:hover {
  text-decoration: underline;
}
.fa-truck,
.fa-credit-card,
.fa-question-circle,
.fa-map-marker,
.fa-envelope {
  margin-right: 8px;
}
.fa-facebook-f {
  margin-right: 20px;
}
hr {
  width: 96%;
}
.logo > img {
  width: 50px;
  height: 40px;
  margin-left: 15px;
}
.logo {
  margin-left: 70px;
}

/* now make it responsive */
@media (max-width: 767px) {
  .contentBox {
    width: 600px;
    height: auto;
    flex-direction: column;
  }
  .contentBox .pheading {
    height: 200px;
    transform: translateY(-50px);
    text-align: center;
  }
  .contentBox .pheading ::before {
    background-color: #fff;
  }
  .contentBox .emailContent {
    height: auto;
    text-align: center;
  }
  .close {
    top: -50px;
    right: -10px;
    background: #fff
      url(https://png.pngitem.com/pimgs/s/214-2148729_tab-close-svg-png-icon-free-download-mute.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  }
}

/* nav modified css */
.navbar_sticky {
  height: 115px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.menubar {
  height: 30px;
  /* border: 1px solid red; */
  /* background-color: pink; */
  text-align: left;
}
.menubar ul {
  display: inline-flex;
  list-style: none;
  margin-left: 70px;
  margin-top: 50px;
}
.menubar ul li {
  margin: 15px;
}
.active .submenu-1:hover {
  color: white;
}
.menubar ul li a {
  text-decoration: none;
  color: black;
}

#companyName:hover {
  background-color: none;
  color: white;
}

.active .hover1:hover {
  background-color: black;
  color: white;
}

.submenu-1 {
  display: none;
  /* border: 1px solid red; */

  min-width: 75%;
  max-height: 280%;
  margin: auto;
  line-height: 15px;
  background-color: white;
}
.menubar ul li:hover .submenu-1 {
  display: block;
  position: absolute;
  left: 100px;
}
.active:hover .submenu-1 ul {
  display: block;
  /* border: 1px solid red; */
  margin: 10px;
}
/* .menubar ul li:hover .submenu-1 ul li {
  background: transparent;
  text-align: left;
  color: black;
} */
.submenu-1 > div {
  display: inline-block;
  vertical-align: top;
}
h5 {
  font-weight: bolder;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  height: 50px;
  width: 60px;
  text-align: center;
  border-radius: 4px;
}

.dropbtn {
  color: white;
  padding: 0px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.signinBtn {
  background-color: black;
  color: white;
  width: 100%;
  height: 30px;
  text-align: center;
}

/* Modal Pop Up or Sign in and sign up */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal {
  position: relative;
  background-color: white;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.modal .next {
  padding: 10px 30px;
  background-color: lightgray;
  color: grey;
  border: none;
  cursor: pointer;
  width: 100%;
  align-items: center;
}
.modal input {
  padding: 10px 30px;
  width: 100%;
  border: 1px solid gray;
}

.modal .next:hover {
  background-color: black;
  color: white;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.black {
  width: 100%;
  height: 2px;
  background-color: black;
}
.google {
  padding: 10px 30px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  cursor: pointer;
  width: 40%;
}
.modal-bg1 {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active1 {
  visibility: visible;
  opacity: 1;
}
.modal1 {
  position: relative;
  background-color: white;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.modal1 .next {
  padding: 10px 30px;
  background-color: lightgray;
  color: grey;
  border: none;
  cursor: pointer;
  width: 100%;
  align-items: center;
}
.modal .signInn {
  padding: 10px 30px;
  background-color: lightgray;
  color: grey;
  border: none;
  cursor: pointer;
  width: 100%;
  align-items: center;
}
.signInn:hover {
  background-color: black;
  color: white;
}
.modal1 input {
  padding: 10px 30px;
  width: 100%;
  border: 1px solid gray;
}

.modal1 .next:hover {
  background-color: black;
  color: white;
}
.modal-close1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.black {
  width: 100%;
  height: 2px;
  background-color: black;
}
.google {
  padding: 10px 30px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  cursor: pointer;
  width: 40%;
}
