* {
  font-family: "Avenir Next Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.popup {
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0px 0px 10px 0px;
}
.contentBox {
  position: relative;
  width: 1380px;
  height: 150px;
  background: #fff;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.pheading > p {
  margin-top: 10%;
  margin-left: 7%;
  font-size: 13px;
}
.emailContent > input {
  margin-top: 14%;
  margin-left: 110%;
  height: 40px;
  width: 300px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #fff
    url(https://png.pngitem.com/pimgs/s/214-2148729_tab-close-svg-png-icon-free-download-mute.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

/* Navigation CSS */

.firstBar {
  height: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  font-size: 11px;
  justify-content: right;
  align-items: center;
}
.firstBar > p > a,
.uline {
  text-decoration: none;
  color: black;
}
.uline:hover {
  text-decoration: underline;
}

u {
  cursor: pointer;
}
u:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .firstBar {
    width: 700px;
    height: auto;
    line-height: 5px;
  }
}

/* Navbar second part */
.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftBox {
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondBox {
  width: 25%;
  height: 80px;
  margin: auto;
}

.secondBox > p {
  display: flex;
  font-size: 13px;
  justify-content: right;
  align-items: center;
  margin-top: 8%;
  gap: 10px;
}
.secondBox > p > input {
  height: 30px;
  width: 120px;
  font-size: 10px;
  padding: 5px;
  border: 1px solid #cccccc;
}
.nav_links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 13px;
  justify-content: left;
  align-items: center;
  margin-left: 1%;
  margin-top: 8%;
}
.nav_links li > a {
  text-decoration: none;
  color: black;
}
.navbar_sticky {
  height: 115px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
}

/* .nav_links li {
  justify-content: space-between;
} */
.heading {
  height: 35px;
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  background-color: #f5d34d;
}
.heading > p {
  color: #4b5a6b;
}
.heading > p > a {
  color: #4b5a6b;
}
.heading > p > strong {
  font-weight: bolder;
}
.first_img {
  width: 100%;
  height: 640px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P1_07102021.jpg?w=1519&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.first_img > .btn1 {
  margin-top: 24%;
  margin-left: 65%;
}
.first_img > .btn1 > button {
  background-color: #f5d34d;
  color: #4b5a6b;
  font-size: 14px;
  font-weight: bold;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 2%;
  cursor: pointer;
}
.sec_img {
  width: 100%;
  height: 640px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P2_2910202_new.jpg?w=1519&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.sec_img > .btn2 {
  margin-top: 22%;
  margin-left: 40%;
  display: flex;
  flex-direction: column;
}
.sec_img > .btn2 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.third_img {
  width: 100%;
  height: 820px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P3_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.third_img > .btn3 {
  margin-top: 8%;
  margin-left: 31%;
  display: flex;
  flex-direction: row;
}
.third_img > .btn3 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.forth_img {
  width: 100%;
  height: 250px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P4_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.forth_img > .btn4 {
  margin-top: 9%;
  margin-left: 31%;
  display: flex;
  flex-direction: row;
}
.forth_img > .btn4 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 1%;
  cursor: pointer;
}
.fifth_img {
  width: 100%;
  height: 570px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P5_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.fifth_img > .btn5 {
  margin-top: 28%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.fifth_img > .btn5 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 0.5%;
  cursor: pointer;
}
.ff_img {
  width: 100%;
  height: 550px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P6_29102021.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.ff_img > .btn11 {
  margin-top: 28%;
  margin-left: 77%;
  display: flex;
  flex-direction: column;
}
.ff_img > .btn11 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 2%;
  cursor: pointer;
}
.six_img {
  width: 100%;
  height: 550px;
  /* border: 1px solid red; */
  background: url(https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P7_2910202_new.jpg?w=1349&auto=format);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}
.six_img > .btn22 {
  margin-top: 31%;
  margin-left: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.six_img > .btn22 > button {
  background-color: white;
  color: #4b5a6b;
  font-size: 13px;
  border: none;
  height: 50px;
  width: 240px;
  border-radius: 28px 28px 28px 28px;
  margin: 2%;
  margin-bottom: 70%;
  cursor: pointer;
}
.heading_prod {
  height: 35px;
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.prodSlide {
  width: 100%;
  height: 360px;
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.imageDiv {
  width: 15.5%;
  height: 300px;
  /* border: 1px solid teal; */
  margin-left: 1%;
}

.imgBox {
  width: 100%;
  height: 250px;
  /* border: 1px solid yellow; */
}

.textBox {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
}
.textBox > p {
  /* border: 1px solid black; */
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.t_box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 3%;
}
.image {
  width: 100%;
  height: 250px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
.footer > div {
  border: 1px solid black;
  width: 500px;
  text-align: center;
  height: fit-content;
  padding: 20px 60px;
}
#link {
  color: black;
}
#link:hover {
  text-decoration: underline;
}
span {
  font-weight: bold;
}
.lowerbox {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 6%;
}
.lowerbox > div {
  margin-left: 3%;
  margin-right: 120px;
  line-height: 30px;
}
li {
  list-style: none;
  font-size: 12px;
}
a {
  color: black;
  text-decoration: none;
}
.lowerbox a:hover {
  text-decoration: underline;
}
.fa-truck,
.fa-credit-card,
.fa-question-circle,
.fa-map-marker,
.fa-envelope {
  margin-right: 8px;
}
.fa-facebook-f {
  margin-right: 20px;
}
hr {
  width: 100%;
}
.logo > img {
  width: 50px;
  height: 40px;
  margin-left: 15px;
}
.logo {
  margin-left: 70px;
}

/* now make it responsive */
@media (max-width: 767px) {
  .contentBox {
    width: 600px;
    height: auto;
    flex-direction: column;
  }
  .contentBox .pheading {
    height: 200px;
    transform: translateY(-50px);
    text-align: center;
  }
  .contentBox .pheading ::before {
    background-color: #fff;
  }
  .contentBox .emailContent {
    height: auto;
    text-align: center;
  }
  .close {
    top: -50px;
    right: -10px;
    background: #fff
      url(https://png.pngitem.com/pimgs/s/214-2148729_tab-close-svg-png-icon-free-download-mute.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  }
}
/* go to top button */
.gototop {
  position: fixed;
  width: 60px;
  height: 40px;
  background-color: white;
  bottom: 0px;
  right: 0px;
  border: 1px solid rgb(226, 224, 224);
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
